.image img {
  animation: zoomIn 7s linear;
}


@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 0.2) translate3d(0, -300px, 0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bouncing {
  0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}